body {
    box-sizing: border-box;
}

h1 {
    margin: 10px 150px;
}

.square {
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

