<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <title>About</title>
</head>
<body>
    <h1 class="page-header">About</h1>
    <nav>
        <ul class="navlist">
            <li class="navitem">
                <a class="navlink" href="home.html">Home</a>
            </li>
            <li class="navitem">
                <a class="navlink" href="about.html">About</a>
            </li>
            <li class="navitem"> 
                <a class="navlink" href="shop.html">Shop </a>
            </li>
        </ul>
    </nav>
    <div class="description">
        <p>Our shop boasts many different varieties of edible fungus, slime molds, and spores ready for innoculation. All of these varietals are cultivated in our organic facilities, or sustainably harvested in small batches. </p>
        <p>Our mission is to make fungus accessible to everyone! In the spores section, we also offer cultivation bags and a variety of substrates. The recommended substrate will be listed in each spore description.</p>
    </div>
    <footer>
        <div class="footer-container">
            <h4>Contact Us</h4>
            <div class="contact">The Fun Guys</div>
            <div class="contact">407-555-5555</div>
            <div class="contact">info@funguys.com</div>
        </div>
       
    </footer>
    
</body>
</html>