<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <title>Home</title>
</head>
<body>
    <h1 class="page-header">Home</h1>
    <nav>
        <ul class="navlist">
            <li class="navitem">
                <a class="navlink" href="home.html">Home</a>
            </li>
            <li class="navitem">
                <a class="navlink" href="about.html">About</a>
            </li>
            <li class="navitem"> 
                <a class="navlink" href="shop.html">Shop </a>
            </li>
        </ul>
    </nav>
    <p class="description">Welcome to the fungus haven! Check out our 
        <span class="shoplink">
            <a class="shoplinkword" href="shop.html">shop!</a>
        </span>
    </p>
    <footer>
        <div class="footer-container">
            <h4>Contact Us</h4>
            <div class="contact">The Fun Guys</div>
            <div class="contact">407-555-5555</div>
            <div class="contact">info@funguys.com</div>
        </div>
    </footer>
</body>
</html>