<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <title>Shop</title>
</head>
<body>
    <h1 class="page-header">Shopping</h1>
    <nav>
        <ul class="navlist">
            <li class="navitem">
                <a class="navlink" href="home.html">Home</a>
            </li>
            <li class="navitem">
                <a class="navlink" href="about.html">About</a>
            </li>
            <li class="navitem"> 
                <a class="navlink" href="shop.html">Shop </a>
            </li>
        </ul>
    </nav>
    <div class="shop-sections">
        <div class="overlay edible">
            <h2 class="category">Edible Fungus</h2>
        </div>
        <div class="overlay slime-molds">
            <h2 class="category">Slime Molds</h2>
        </div>
        <div class="overlay spores">
            <h2 class="category">Spores</h2>
        </div>
    </div>
    <footer>
        <div class="footer-container">
            <h4>Contact Us</h4>
            <div class="contact">The Fun Guys</div>
            <div class="contact">407-555-5555</div>
            <div class="contact">info@funguys.com</div>
        </div>
    </footer>
</body>
</html>